*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.125rem;
  min-height: 100vh;
}

.container {
  background-color: #fff;
}

/* BLOCK RESULTS */
.results {
  background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
}

.results h1 {
  color: #cac9ff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 24px 0;
}

.block-result-score {
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
  border-radius: 50%;
  height: 140px;
  margin: 0 auto;
  padding: 25px 39px 22px 39px;
  width: 140px;
}

.block-result-score p:first-child {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 72px;
  text-align: center;
}

.block-result-score p:last-child {
  color: #cac9ff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  opacity: 0.5;
  text-align: center;
}

.block-result-txt {
  margin: 0 auto;
  padding-bottom: 40px;
  width: 65%;
}

.block-result-txt p:first-child {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 8px;
  margin-top: 24px;
  text-align: center;
}

.block-result-txt p:last-child {
  color: #cac9ff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}

/* BLOCK SUMMARY */
.summary {
  padding: 24px 30px 30px 30px;
}

.summary h2 {
  color: #303b59;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}

.block {
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 17px 16px;
}

.icon,
.note {
  display: flex;
}

.reaction {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #f55;
}

.memory {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #ffb21e;
}

.verbal {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #00bb8f;
}

.visual {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 0%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    #1125d6;
  margin-bottom: 24px;
}

.reaction .icon p {
  color: #f55;
}

.memory .icon p {
  color: #ffb21e;
}

.verbal .icon p {
  color: #00bb8f;
}

.visual .icon p {
  color: #1125d6;
}

.block .icon img {
  margin-right: 12px;
}

.reaction,
.memory,
.verbal {
  margin-bottom: 16px;
}

.block .icon p {
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.block .note p {
  color: #303b59;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.note span {
  opacity: 0.5;
}

button {
  background-color: #303b59;
  border: none;
  border-radius: 128px;
  color: #fff;
  cursor: pointer;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 16px 120px;
  width: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
  body {
    align-items: center;
    background-color: #ecf2ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container {
    border-radius: 32px;
  }

  .result-summary {
    display: flex;
    justify-content: center;
  }

  /* BLOCK RESULTS */
  .results {
    border-radius: 32px;
    width: 288px;
  }

  .results h1 {
    font-size: 1.5rem;
    margin-top: 38px;
    margin-bottom: 35px;
    padding: 0;
  }

  .block-result-score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 200px;
    width: 200px;
  }

  .block-result-score p:first-child {
    font-size: 4.5rem;
  }

  .block-result-score p:last-child {
    font-size: 1.125rem;
  }

  .block-result-txt {
    width: 75%;
  }

  .block-result-txt p:first-child {
    font-size: 2rem;
  }

  .block-result-txt p:last-child {
    font-size: 1.125rem;
  }

  button:hover {
    background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
  }
}
